<app-home></app-home>

<div class="container my-5">
    <h3 class="text-center">List of all Reservations!</h3>

    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th>Guest</th>
                <th>Email</th>
                <th>People Count</th>
                <th>Check In Date</th>
                <th>Check Out Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="reservations.length; else noRecords">
            <tr *ngFor="let reservation of reservations; index as i">
                <td>{{reservation.guestName}}</td>
                <td>{{reservation.guestEmail}}</td>
                <td>{{reservation.guestCount}}</td>
                <td>{{reservation.checkInDate}}</td>
                <td>{{reservation.checkOutDate}}</td>
                <td>
                    <button class="btn btn-sm btn-danger mx-1" (click)="deleteReservation(reservation.id)">Delete</button>
                    <button class="btn btn-sm btn-primary" [routerLink]="['/edit',reservation.id]">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>

    
</div>

<ng-template #noRecords>
    <h3>No Reservations Available!</h3>
</ng-template>
